*{
    margin: 0;
    padding: 0;
}
#container {
    min-width: 900px;
    min-height: 500px;
    height: 500px;
    background-color: #ccf;
    font-size: 14px;
    font-family: sans-serif;
}
#nav{
    font-size: 0;
    padding-left: 100px;
    padding-top: 50px;
}
.nav-item{
    display: inline-block;
    margin-right: 20px; 
    font-size: 14px;
}
.nav-item a{ 
    text-decoration: none;
    color: #000;
}
#main{
    margin-top: 100px;
}
#team-name{
    font-size: 3em;
    text-align: center;
    letter-spacing: 10px;
}
.portrait{
    display: inline-block;
    margin-right: 20px;
}
.portrait img{
    height: 140px;
    border-radius: 50%;
}
#team-nums{
    text-align: center;
    margin-top: 100px;
}