body,
dl, dd,
ul, ol,
p, hr,
h1, h2, h3, h4, h5, h6, pre,
form, thead, tbody, tfoot, th, td, input, textarea,
fieldset, legend, optgroup,blockquote, figure, menu{
    margin: 0;
    padding: 0;
}

#nav{
    font-size: 0;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 3px solid #ccf;
}
.nav-item{
    display: inline-block;
    margin-right: 20px; 
    font-size: 14px;
}
.nav-item a{ 
    text-decoration: none;
    color: #000;
}
.member{
    overflow: hidden;
    font-size: 16px;
    border-bottom: 3px groove #ccf;
    margin-bottom: 20px; 
}
#members{
    margin-top: 40px;
    margin-left: 150px;
}
.member img{
    float: left;
    height: 100px;
    border-radius: 50%;
}
.intro{
    float: left;
    margin-left: 40px;
    vertical-align: middle;
}
.intro > p {
    margin-bottom: 12px;
}
.member a{
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/github.png);
    background-repeat: no-repeat;
    background-size: contain;
}
